@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.team {
  margin-block: 100px;

  @include gridLayout;

  &__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    grid-column: 1 / 5;
  }

  &__right {
    grid-column: 5 / -1;
  }

  &__title {
    font-size: 64px;
    font-weight: 700;
    line-height: 76px;
    text-transform: uppercase;
  }

  &__description {
    margin-top: 24px;

    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
  }

  &__buttons {
    display: flex;
    gap: 12px;
  }

  &__button {
    width: 126px;
    height: 126px;

    cursor: pointer;

    border: none;
    border-radius: 20px;
    background-color: $white;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: opacity 0.3s;

    &:hover {
      opacity: 0.7;
    }

    &--notactive {
      opacity: 0.3;

      &:hover {
        opacity: 0.3;
      }
    }
  }
}
