$container-max-width: 1321px;

// colors
$white: #ffffff;
$black: #000000;
$card-hover-bg: #ffffff0a;
$border: #ffffff33;
$list-border: #ffffff1a;
$background: #000000;
$white-gradient: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
